@import 'antd/dist/antd.css';
html,
body {
    overflow: auto;
    height: 100%;
    background-color: rgb(255, 255, 255);
    width: 100%;
}

#root {
    overflow: auto;
    height: 100%;
    width: 100%;
}